<nav
  class="navbar navbar-expand-lg navbar-light  nav-bar-position py-3 top-fixed"
  [class.boxed]="isScrolling"
  [class.navbar-scrolled]="isScrolling"
  [class.bg-transparent]="!toogleMenu && !isScrolling"
  id="mainNav"
>
  <div class="container">
    <a class="navbar-brand text-muted js-scroll-trigger navbar-name "
       [class.hidden-on-mobile]="!isScrolling && !toogleMenu"
       [class.navbar-name-scrolled]="!isScrolling && !toogleMenu"
       (click)="smoothlyScrollToTop()">
      {{ 'firstname' | translate }} {{ 'name' | translate }}
    </a>
    <button
      class="navbar-toggler navbar-toggler-right white-on-mobile bottom-fixed-burger"
      type="button"
      (click)="toogleMenuVisibility()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="toogleMenu" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="scrollToJourney()">{{ 'mainMenu.journey' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="scrollToPetProjects()">{{ 'mainMenu.petProjects' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="scrollToContact()">{{ 'mainMenu.contact' | translate }}</a>
        </li>
<!--        <li class="nav-item" (click)="switchLang()">-->
<!--          <a class="nav-link js-scroll-trigger">{{ 'mainMenu.translateTo' | translate }}</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
