<div class="container">
  <h2 class="text-center mt-0">{{'mainMenu.journey' | translate}}</h2>
  <div *ngIf="journey">

    <div
      *ngFor="let experience of journey.professionnalJourney.slice(0, nbShownExperiences); index as i; trackBy: trackByFn">
      <hr class="divider my-4">
      <app-experience [experience]="experience"></app-experience>
    </div>
    <div *ngIf="!showMore" class="row h-100 align-items-center justify-content-center mt-4">
      <a (click)="doShowMore()"
         class="btn btn-primary text-white btn-xl">{{ 'cv.moreExperiences' | translate }}</a>
    </div>
    <div *ngIf="showMore">
      <hr class="divider my-4">
      <app-school-experience [experience]="journey.school[0]"></app-school-experience>
    </div>
  </div>


</div>
