<div class="row">
  <div class="col-lg-3 col-12 text-lg-center">
    <div class="mt-5">
      <div class="col-4 col-lg-12 experience-icon-container mx-auto logo-size">
        <img [src]="experience.iconeUrl" alt="logo" class="mw-100 ">
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="mt-5">
      <h4 class="row h4 pl-3">{{experience.company}}</h4>
      <p class="row text text-wrap pl-3 pt-lg-0 pt-1 mr-1">#{{experience.jobTitle}} | {{experience.dateStart}} - {{experience.dateEnd}}</p>
      <p [innerHTML]="experience.content" class="text-content text-muted mb-0 offset-xp-content-1">
      </p>
    </div>
  </div>
</div>
