<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-xs-justify text-lg-center">
      <h2 [class.text-white]="alternateColor" class="mt-0 text-center">{{'intro.title' | translate}}</h2>
      <hr class="divider light my-4"/>

      <p class="mb-4" [class.text-white]="alternateColor">
        {{'intro.content.0' | translate}}
      </p>

      <p class="mb-4" [class.text-white]="alternateColor">
        {{'intro.content.1' | translate}}
      </p>

      <p class="mb-4" [class.text-white]="alternateColor">
        {{'intro.content.2' | translate}}
      </p>

      <p class="mb-4" [class.text-white]="alternateColor">
        {{'intro.content.3' | translate}}
      </p>

      <p class="mb-4" [class.text-white]="alternateColor">
        {{'intro.content.4' | translate}}
      </p>
    </div>
  </div>
</div>
