<div class="container">
  <div class="row justify-content-around">
    <div class="col-lg-8 text-xs-justify text-lg-justify text-center">
      <h2 [class.text-white]="alternateColor" class="mt-0 ">{{'intro.title' | translate}}</h2>
      <hr class="divider light my-4"/>

      <div class="text-intro">

        <p [class.text-white]="alternateColor" class="mb-4">
          {{'intro.content.0' | translate}}
        </p>

        <p [class.text-white]="alternateColor" class="mb-4">
          {{'intro.content.1' | translate}}
        </p>

        <p [class.text-white]="alternateColor" class="mb-4">
          {{'intro.content.2' | translate}}
        </p>

        <p [class.text-white]="alternateColor" class="mb-4">
          {{'intro.content.3' | translate}}
        </p>

        <p [class.text-white]="alternateColor" class="mb-4">
          {{'intro.content.4' | translate}}
        </p>
      </div>
    </div>
  </div>
</div>
