<div class="row">
  <div class="col-lg-3 text-center">
    <div class="mt-5">
      <div class="experience-icon-container mx-auto">
        <img alt="logo" class="mw-100" [src]="experience.iconeUrl">
      </div>
      <h5 class="h5 pt-4">{{experience.grade}}</h5>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="mt-5">
      <div class="d-flex flex-column">
        <div class="h4">{{experience.place}}</div>
        <p class="text pt-lg-1">{{experience.years}}</p>
      </div>
      <p class="text-content text-muted mb-0 offset-xp-content-1" [innerHTML]="experience.content">
      </p>
    </div>
  </div>
</div>
