<app-navbar></app-navbar>
<app-header></app-header>

<section class="page-section bg-primary" id="introduction">
  <app-introduction [alternateColor]="true"></app-introduction>
</section>

<section class="page-section" id="journey">
  <app-journey></app-journey>
</section>

<section class="page-section bg-dark text-white" id="petProjects">
  <app-pet-projects></app-pet-projects>
</section>

<section class="page-section" id="contact">
  <app-contact></app-contact>
</section>


<app-footer></app-footer>
