/* You can add global styles to this file, and also import other style files */
.nav-bar-position {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header.masthead-ssr {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/assets/img/bg-masthead-mini.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.background-lg-loading {
  background-image: url("/assets/img/bg-masthead.jpg");
}

header.masthead-csr {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}
header.masthead-csr {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  height: 100vh;
}

ul {
  padding-left: 20px;
  list-style-type: lower-greek;
}
@media (max-width: 992px) {
  .offset-xp-content-1 {
    font-size: smaller;
  }
}
