.pet-project-link-blue:hover {
  color: lightskyblue;
}
.pet-project-link-blue:hover div p {
  color: lightskyblue!important;
}

.pet-project-link-red:hover {
  color: indianred;
}
.pet-project-link-red:hover div p {
  color: indianred!important;
}

.pet-project-link-orange:hover {
  color: orange;
}
.pet-project-link-orange:hover div p {
  color: orange!important;
}

