.fa-twitter:hover {
  color:orange !important;
}
.fa-envelope:hover {
  color:mediumseagreen !important;
}
.fa-github:hover {
  color:black !important;
}
.fa-linkedin-in:hover{
  color:cornflowerblue !important;
}

